
.title {
    font-size: 4.0rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.form {
  display: grid;
}

.input {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
}

.popular-title {
    font-size: 2.0rem;
    text-align: center;
    margin: 2rem;

}

@media (min-width:786px){
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }
    
    .input {
        margin-bottom: 0;
    }
  }